
@using CommonDLL.Helper
<fieldset>
    <form id="ChangePassword" name="ChangePassword">
        @Html.DevExpress().Label(settings =>
        {
           settings.Text = "Current Password";
           settings.ClientEnabled = true;
        }).GetHtml()


        @Html.DevExpress().TextBox(settings =>
    {
        settings.Name = "OldPassword";
        settings.ClientVisible = true;
        settings.ClientEnabled = true;
        settings.Properties.Password = true;
        settings.AutoCompleteType = AutoCompleteType.Disabled;
    }).GetHtml()


        @Html.DevExpress().Label(settings =>
        {
           settings.Text = "New Password";
           settings.ClientEnabled = true;
        }).GetHtml()



        @Html.DevExpress().TextBox(settings =>
    {
        settings.Name = "NewPassword";
        settings.ClientVisible = true;
        settings.ClientEnabled = true;
        settings.Properties.Password = true;
        settings.AutoCompleteType = AutoCompleteType.Disabled;
    }).GetHtml()



        @Html.DevExpress().Label(settings =>
        {
           settings.Text = "Confirm New Password";
           settings.ClientEnabled = true;
        }).GetHtml()



        @Html.DevExpress().TextBox(settings =>
    {
        settings.Name = "ConfirmPassword";
        settings.ClientVisible = true;
        settings.ClientEnabled = true;
        settings.Properties.Password = true;
        settings.AutoCompleteType = AutoCompleteType.Disabled;

    }).GetHtml()

        <br />
        @if (Config.DemoMode)
        {
            @Html.DevExpress().Button(settings =>
           {
               settings.Name = "btnSendData";
               settings.Text = "Demo Cant Change Password";
               settings.ClientEnabled = false;
               settings.UseSubmitBehavior = false;
            }).GetHtml()

        }
        else
        {
            @Html.DevExpress().Button(settings =>
             {
                 settings.Name = "btnSendData";
                 settings.Text = "Update Password";
                 settings.ClientEnabled = true;
                 settings.UseSubmitBehavior = false;
                 settings.ClientSideEvents.Click = "function(s,e){ SubmitSearchData(s,e); }";
             }).GetHtml()
        }


    </form>

</fieldset>

<script type="text/javascript">

       function SubmitSearchData(s,e)
    {
        LoadingPanel.Show();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '@Url.Action("ChangePassword", "MyProfile")');
        xhr.onload = function (event)
        {
        LoadingPanel.Hide();
        var result = JSON.parse(event.target.response);
        if (result.Success == false)
        {
            SharedMessageBox.Show();
            lblCommonMessage.SetText("Password Updated");
            btnSendData.Hide();

        } else
        {
            SharedMessageBox.Show();
            lblCommonMessage.SetText(result.errorMsg);
        }

        };
        var formData = new FormData(document.getElementById("ChangePassword"));
        xhr.send(formData);

        }


</script>
