
<h3> Select Role </h3>
@Html.Action("RoleDDLPartialView")

<h3>  User Role </h3>
@Html.Partial("_RoleSetupUserGridPartialView")

<h3>  Report Role </h3>
@Html.Partial("_RoleSetupReportGridPartialView")

<h3>  Dashboard Role </h3>
@Html.Partial("_RoleSetupDashboardGridPartialView")

<h3>  Vertical Report Role </h3>
@Html.Partial("_RoleSetupVerticalReportGridPartialView")




