@using CommonDLL.DTO
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="divTop">
    Report Setup
</div>

@Html.Action("ReportTopViewPartial", "ReportSetup")
@using (Html.BeginForm())
{
    @Html.Action("ReportGridViewPartial", "ReportSetup")
}


@Html.DevExpress().PopupControl(settings =>
{

    settings.Styles.Header.Font.Size = 10;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "MessageBoxReport";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(100);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
    settings.SetContent(() => Html.RenderPartial("_ReportMessageBox", null));
}).GetHtml()


@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Report Roles";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "ReportRoleEditPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(100);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) { ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_ReportRoleViewPartialPopup", null));
}).GetHtml()



@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Report Setup";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "ReportSetupPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(50);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) {ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_ReportSetupSettings", null));
}).GetHtml()


@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Report Setup Colums";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "ReportSetupColumnToDropDownPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(50);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) {ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_ReportSetupColumnToDropDownPopup", null));
}).GetHtml()


@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Sub Report Setup";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "SubReportViewPartialPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(50);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) {ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_SubReportViewPartialPopup", null));
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Report Document Setup";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//    settings.Style.Add("font-size", "7pt");
    settings.Name = "ReportDocumentViewPartialPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(50);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) {ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_ReportDocumentGridViewList", null));
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.HeaderText = "Column Rename";
    settings.Styles.Header.Font.Size = 10;
   // settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.OnWindowInnerWidth;
   // settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
//   settings.Style.Add("font-size", "7pt");
    settings.Name = "ReportColumnRenameViewPartialPopup";
    settings.Style.Add("Color", "Gray");
    settings.Style.Add("border-color", "Gray");
    settings.Style.Add("border-width", "2px");
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.Height = Unit.Percentage(50);
    settings.Width = Unit.Pixel(600);
    settings.PopupAnimationType = AnimationType.None;
    settings.Modal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.ClientSideEvents.CloseButtonClick = "function(s, e) {ReloadReportGrid(); }";
    settings.SetContent(() => Html.RenderPartial("_ReportColumnRenamePopup", null));
}).GetHtml()

